.hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

.dropper{
    background-color: #f6f9ff6e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.loading {
    text-transform: uppercase;
    width: 250px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    font-weight: bold;
}

.loading span {
    position: relative;
    z-index: 999;
    color: #fff;
}

.loading:before {
    content: '';
    background: #61bdb6;
    width: 128px;
    height: 36px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: 2s loadingBefore infinite ease-in-out;
}

@keyframes loadingBefore {
    0% {
        transform: translateX(-14px);
    }
    50% {
        transform: translateX(14px);
    }
    100% {
        transform: translateX(-14px);
    }
}

.loading:after {
    content: '';
    background: #ff3600;
    width: 14px;
    height: 60px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: .5;
    animation: 2s loadingAfter infinite ease-in-out;
}

@keyframes loadingAfter {
    0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }
}


.logo{
    width: 30px;
    height: auto;
    margin: 0 5px;
    border: 1px solid white;
    padding: 2px;
    border-radius: 2px;
    background-color: #1e3d7b;
}

.showModal{
    display: block;
}

.recaptcha{
    text-align: center;
}