.actions, .date{
    text-align: center;
    width: 150px !important;
}

.actions a {
    display: inline-block;
    margin: 0 5px;
}

button{
    margin-bottom: 5px;
    margin-top: 5px;
}

.marketClose {
    position: fixed;
    z-index: 9;
    width: 100%;
    left: 0px;
    top: 0px;
    margin-top: 40px;
    animation-name: blinker;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    40% { opacity: 0.0; }
    60% { opacity: 1.0; }
    100% { opacity: 1.0; }
}
